.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f4f8;
    z-index: 99999;
    .loader-wrapper {
        display: block;
        text-align: center;
        text {
            font-size: 30px;
        }
        .loader {
            display: inline-block;
            vertical-align: top;
            position: relative;
            width: 40px;
            box-sizing: border-box;
            &:before {
                content: '';
                display: block;
                padding-top: 100%;
            }
            .circular {
                box-sizing: border-box;
                animation: rotate 2s linear infinite;
                height: 100%;
                transform-origin: center center;
                width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                .path {
                    stroke-dasharray: 1, 200;
                    stroke-dashoffset: 0;
                    animation: lines 1.5s ease-in-out infinite, colors 6s ease-in-out infinite;
                    stroke-linecap: round;
                }
            }
        }
    }
    .copyright {
        position: absolute;
        bottom: 10px;
        top: auto;
        left: 0;
        right: 0;
        text-align: center;
        color: #7b7b7b;
        user-select: none;
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes lines {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes colors {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

