.comment-form-wrapper {
    width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    .comment-form-header,
    .comment-form-footer {
        background: url("~images/separator.png") no-repeat;
        .comment-form-title {
            font-size: 18px;
            color: #555;
            font-weight: 400;
        }
    }
    .comment-form-header {
        padding-bottom: 40px;
        margin-bottom: 20px;
        background-position: center bottom;
    }
    .comment-form-footer {
        padding-top: 40px;
        margin-top: 20px;
        background-position: center top;
    }
    .comment-form {
        .avatar-user {
            float: left;
            img {
                width: 44;
                height: 44px;
            }
        }
        .form {
            border: 1px solid #d1d5da;
            margin-left: 60px;
            border-radius: 3px;
            position: relative;
            &::before {
                border-color: transparent;
                border-style: solid solid outset;
                content: " ";
                display: block;
                height: 0;
                left: -16px;
                pointer-events: none;
                position: absolute;
                right: 100%;
                top: 11px;
                width: 0;
                border-right-color: #d1d5da;
                border-width: 8px;
            }
            &::after {
                border-color: transparent;
                border-style: solid solid outset;
                content: " ";
                display: block;
                height: 0;
                left: -15px;
                pointer-events: none;
                position: absolute;
                right: 100%;
                top: 11px;
                width: 0;
                border-right-color: #fff;
                border-width: 8px;
            }
            textarea {
                font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
                display: block;
                width: 100%;
                height: 6em;
                border: none;
                outline: none;
                font-size: 15px;
                color: #333;
                padding: 8px;
                border-bottom: 1px solid #d1d5da;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                cursor: pointer;
                &:focus {
                    cursor: text;
                }
                &::-webkit-scrollbar {
                    width: 6px;
                    height: 6px;
                    background-color: transparent;
                    cursor: pointer;
                }
                &::-webkit-scrollbar-track {
                    border-radius: 3px;
                    cursor: pointer;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 3px;
                    background-color: #aaa;
                    border: 2px solid transparent;
                    cursor: pointer;
                }
                &::-webkit-scrollbar-thumb:window-inactive {
                    background-color: #aaa;
                    cursor: pointer;
                }
                &::-webkit-scrollbar-button {
                    background-color: transparent;
                    height: 0;
                    width: 0;
                    cursor: pointer;
                }
            }
            .btn {
                padding: 10px;
                text-align: right;
                button {
                    background: #6195FF;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    transition: 0.2s opacity;
                    padding: 8px 35px;
                    color: #fff;
                    opacity: 1;
                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
    }
    .login-form {
        p {
            color: #777;
            span {
                color: #0d87e9;
                margin: 0 8px;
            }
            a {
                color: #0366d6;
            }
        }
    }
}