*,
:before,
:after {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #f9f9f9;
}

#app {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

#app::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}

#app::-webkit-scrollbar-track {
    border-radius: 3px;
}

#app::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #aaa;
    border: 2px solid transparent;
}

#app::-webkit-scrollbar-thumb:window-inactive {
    background-color: #aaa;
}

#app::-webkit-scrollbar-button {
    background-color: transparent;
    height: 0;
    width: 0;
}

#app.show-bg::-webkit-scrollbar-thumb {
    background-color: #d18a50;
}

#app.show-bg::-webkit-scrollbar-thumb:window-inactive {
    background-color: #d18a50;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear:after {
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
}

.copyright {
    text-align: center;
    color: #7b7b7b;
    user-select: none;
    width: 100%;
}

.app.show .copyright {
    color: #eaeaea;
}

/* @import "./font-awesome/font-awesome.css"; */

@import "./raleway//raleway.css";
@import "./nprogress.less";