.avatar {
    display: inline-block;
    position: relative;
    z-index: 9999;
    background: url("~images/avatar.jpg") no-repeat center center;
    background-size: 100% 100%;
    border: 1.5px solid #222;
    border-radius: 50%;
    span {
        display: inline-block;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease-in-out;
    }
    &:hover, &.active {
        border-color: #ef7c1e;
        span {
            background-color: rgba(239, 124, 30, .2);
            visibility: visible;
            opacity: 1;
        }
    }
}