.home-page {
    position: relative;
    .main-wrapper {
        .avatar-wrapper {
            text-align: center;
            animation: avatar 1s ease-in-out;
            animation-fill-mode: both;
        }
        .nav-wrapper {
            margin-top: 40px;
            text-align: center;
            animation: links 1s ease-in-out 1s;
            animation-fill-mode: both;
        }
    }
    .copyright {
        position: absolute;
        bottom: 10px;
        left: 0;
    }
}

@keyframes avatar {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes links {
    0% {
        opacity: 0;
        transform: translate3d(0, 10%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}